<footer>
    <div class="container-fluid p-0">
        <div class="row text-left">
            <div class="col-md-5 col-md-5">
                <h2 class="text-light">About Us</h2>
                <p class="text-muted">
                    Sorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt
                </p>
                <p class="pt-4 text-muted">
                    © 2020 COPYRIGHT ALL RIGHTS RESERVED
                    <span>Skupina 19</span>
                </p>
            </div>
            <div class="col-md-5">
                <h4 class="text-light">Newsletter</h4>
                <p class="text-muted">Stay Updated</p>
                <form action="/api/newsletter" method="post" role="form" id="newsletterForm" class="form-inline">
                    <div class="col pl-0">
                        <div class="input-group pr-5">
                            <input name="email" type="text" class="form-control bg-dark text-white" placeholder="Email" required>
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <button type="submit" class="btn"><i class="fas fa-arrow-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-2 col-sm-12">
                <h4 class="text-light">Follow Us</h4>
                <p class="text-muted">Lets be social</p>
                <div class="coloumn">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>