<body class="about">
    <section class="section-4 container-fluid text-center">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h2>{{title1}}</h2>
                <p>
                    {{description1}}
                </p>
            </div>
        </div>
    </section>
    <section class="section-5 container-fluid p-0 text-center">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <p>
                    {{description2}}
                </p>
            </div>
        </div>
    </section>
</body>