<div class="container">
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm">
            <br><br>
            <form action="/api/db-izbrisi" method="post" role="form" id="dbForm">
                <button type="submit" class="btn btn-light">Delete all</button>
            </form>
            <br><br>
            <form action="/api/db-uvozi" method="post" role="form" id="dbForm">
                <button type="submit" class="btn btn-light">Upload locations</button>
            </form>
            <br><br>
        </div>
        <div class="col-sm"></div>
    </div>
</div>