<main class="page1">
    <section class="section-1">
        <h1 style="text-align:center">Where do you want to go?</h1>
        <div class="wrapper">
            <ul id="buttons">
                <li><a href="#">Cafe</a></li>
                <p></p>
                <li><a href="/list">Restaurant</a></li>
                <p></p>
                <li><a href="#">Bar/Pub</a></li>
                <p></p>
                <li><a href="#">Club</a></li>
                <p></p>
            </ul>
        </div>
    </section>
</main>