<body class="about">
    <section class="section-4 container-fluid text-center">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h2>{{vsebinaStrani.naslov}}</h2>
                <p>{{vsebinaStrani.prviopis}}</p>
            </div>
        </div>
    </section>
    <section class="section-5 container-fluid p-0 text-center">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <p>{{vsebinaStrani.vsebina | htmlPrelomVrstice}}</p>
            </div>
        </div>
    </section>
</body>